.about__description {
    height: 100%;
    padding: 20px;
    width: 80%;
    min-width: 300px;
}

.about__featuresBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}