

.homepage__headerImg {
    
    background: url('/images/homepageheader.jpg') no-repeat bottom center fixed;
    height: 100px;
    width: 100%;
}

.homepage__welcome {
    height: 100%;
    padding: 20px 0;
    width: 60%;
    min-width: 300px;
}

.homepage__getStarted {
    text-decoration: none;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 50px;
}