.homepage__headerImg {
    background: url('/images/homepageheader.jpg') no-repeat bottom center fixed;
    height: 100px;
    width: 100%;
}

.homepage__welcome {
    height: 100%;
    padding: 20px 0;
    width: 60%;
    min-width: 300px;
}

.homepage__getStarted {
    text-decoration: none;
    min-width: 100px;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 50px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 50px 50px 50px;
}

.location_icon {
    width: 30px;
    height: 30px
}

.mapboxgl-popup-close-button {
    min-width: 20px;
}

.fa-circle {
    color: blue;
}