.gardenCard__image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("/images/homepageheader.jpg");
    width: 60%;
    min-width: 300px;
    height: 200px;
    border-radius: 5px;
}

.gardenCard__name {
    text-align: center;
    color: white;
    background: linear-gradient(0deg, rgba(0,0,0,0.6279686059844628) 23%, rgba(22,22,22,0) 100%);
    font-size: 2rem;
    width: 100%;
}

.gardenCard__link {
    text-decoration: none;
    width: 100%;
}