@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:200,300,400,500,600,700&display=swap');


html, body {
  margin: 0;
  padding: 0;
  font-family: "Oswald";
  overflow-x: hidden;
}

* {
  color: rgb(20, 20, 20);
}

p {
  font-family: "Open Sans"
}