.navbar {
  height: 8vh;
  background-color: #96a760;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__link {
  margin: 10px;
  text-decoration: none;
}

.navbar__username {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.navbar__username:hover {
  color: rgb(149, 1, 1);
}

.navbar__icon {
  margin: 0 30px;
  z-index: 15;
  color: #3e452e;
  cursor: pointer;
}

.navbar__icon:hover {
  color: yellow;
}

.navbar__burgerBox {
  position: fixed;
  top: 8vh;
  height: 60vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.938);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-bottom: 3px solid rgba(100, 100, 100, 0.157)
}

.navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}